<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="todos.css"/>
</head>

<body>

<h1>Todo List</h1>

<div id="todoapp">
    <input id="new-todo" type="text" placeholder="What needs to be done?">
    <input id="add-item" type="button" value="Add">

    <ul id="todo-list"></ul>

</div>

<script type="text/template" id="item-template">
    <div class="view">
        <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
        <%= title %>
    </div>
    <input class="edit" type="text" value="<%- title %>" />
</script>

<script src="js/jquery-2.1.0.js"></script>
<script src="js/underscore.js"></script>
<script src="js/backbone.js"></script>
<script src="todo_3.js"></script>


</body>
</html>